<div class="p-4">
   <app-article-navbar></app-article-navbar>
    <ng-container *ngIf="articleState$ | async as state" [ngSwitch]="state.dataState">
       <ng-container *ngSwitchCase="ArticleStateEnum. INITIAL">
         <div class="p-2"> Initial State</div>
       </ng-container>
      <ng-container *ngSwitchCase="ArticleStateEnum.LOADING">
        <div class="p-2"> Loading...</div>
      </ng-container>
      <ng-container *ngSwitchCase="ArticleStateEnum.ERROR">
        <div class="p-2 text-danger"> {{state.errorMessage | json}}</div>
      </ng-container>
      <ng-container *ngSwitchCase="ArticleStateEnum.LOADED" class="p-4">
        <app-article-list [state] = "state"></app-article-list>
      </ng-container>
    </ng-container>
  </div>