<div class="card" *ngIf="association">
  <div class="card-body">
    <h5 class="card-title">{{ association.name }}</h5>
    <p class="card-text">ID: {{ association.id }}</p>
    <p class="card-text">Address: {{ association.address }}</p>
    <p class="card-text">Logo: {{ association.logo }}</p>
    <p class="card-text">Date Creation: {{ association.dateCreation }}</p>
    <div class="d-flex justify-content-between">
      <button (click)="onDelete(association)" class="btn btn-danger">
        <i class="fa fa-trash"></i>
      </button>

      <button (click)="onEdit(association)" class="btn btn-success">
        <i class="fa fa-edit"></i>
      </button>
    </div>
  </div>
</div>


<!-- <tr *ngIf="association">
    <td>{{association.id}}</td>
    <td>{{association.name}}</td>
    <td>{{association.address}}</td>
    <td>{{association.logo}}</td>
    <td>{{association.dateCreation}}</td>
    <td>
      <button (click)="onDelete(association)" class="btn btn-danger">
        <i class="fa fa-trash"></i>
      </button>
    </td>

    <td>
      <button (click)="onEdit(association)" class="btn btn-success">
        <i class="fa fa-edit"></i>
      </button>
    </td>
  </tr> -->